<header class="page-header" id="header">
    <section class="header-section">
        <nav id="navbar-nav">
            <ul class="navbar">
                <li>
                    <a href="/">Forside</a>
                </li>
                <li>
                    <a href="/about">Om mig</a>
                </li>
                <li>
                    <a href="/project">Projekter</a>
                </li>
                <li>
                    <a href="/archive">Arkiv</a>
                </li>
            </ul>
        </nav>
    </section>
</header>
