<a class="projekter-snippet-container" href="{{ projekter.url }}">
    <div class="projekter-snippet-overlay">
        <div class="projekter-snippet-text-container">
            <h3 class="projekter-snippet-title">{{ projekter.data.title }}</h3>
            <p class="projekter-snippet-text">{{ projekter.data.description }}</p>
        </div>   
    </div>
    <div class="projekter-snippet-image-container">
        <img class="projekter-snippet-image" src="{{ projekter.data.image }}" alt="">
    </div>
</a>
