<a class="website-snippet-container" href="{{ website.url }}">
    <div class="website-snippet-overlay">
        <div class="website-snippet-text-container">
            <h3 class="website-snippet-title">{{ website.data.title }}</h3>
            <p class="website-snippet-text">{{ website.data.description }}</p>
        </div>   
    </div>
    <div class="website-snippet-image-container">
        <img class="website-snippet-image" src="{{ website.data.image }}" alt="">
    </div>
</a>