// Fonts
$font-title: 'Staatliches', cursive;
$font-standard: 'Spartan', sans-serif;
$font-lorem: 'Flow Circular', cursive;

// Colours
$clr-primary: #d74242;
$clr-primary--dark: #993333;
$clr-secondary: #262840;

$clr-neutral-100: hsl(0, 0%, 95%);
$clr-neutral-200: hsl(0, 0%, 90%);
$clr-neutral-300: hsl(0, 0%, 65%);
$clr-neutral-400: hsl(0, 0%, 50%);
$clr-neutral-500: hsl(0, 0%, 40%);
$clr-neutral-600: hsl(0, 0%, 30%);
$clr-neutral-700: hsl(0, 0%, 15%);
$clr-neutral-800: hsl(0, 0%, 0%);

// Offsets
$offset-x-small: 10px;
$offset-small: 20px;
$offset-medium: 40px;
$offset-large: 80px;
$offset-x-large: 100px;