backend:
  name: git-gateway
  branch: main
media_folder: "public/assets/projekter"
public_folder: "/assets/projekter"
collections:
  - name: "projekter"
    label: "Projekter"
    folder: "src/projekter"
    create: true
    slug: "{{year}}-{{month}}-{{day}}-{{slug}}"
    fields:
      - { label: "Title", name: "title", widget: "string" }
      - { label: "Description", name: "description", widget: "markdown" }
      - { label: "Author", name: "author", widget: "string" }
      - { label: "Date", name: "date", widget: "datetime" }
      - { label: "Tags", name: "tags", widget: "list", default: ["post"] }
      - { label: "Featured Image", name: "image", widget: "image" }
      - { label: "Featured Caption", name: "imageAlt", widget: "string" }
      - { label: "Body", name: "body", widget: "markdown" }