---
title: Oops! Not found
permalink: 404.html
layout: "base.njk"
---
<section>
    <div class="missing-container">
        <img src="/assets/404/404.png" alt="">
        <p class="missing-text">Jeg beklager...</p>
        <p class="missing-text">... Du har taget en forkert afkørsel. Klik på en af menuerne for at komme videre.</p>
    </div>
</section>