---
title: Oops! Not found
permalink: 404.html
layout: "base.njk"
---
<section>
    <div class="missing-container">
        <img src="/assets/404/404.png" alt="">
        <p class="missing-text">Oops!.. Siden her findes ikke.</p>
    </div>
</section>