---
layout: "base.njk"
title: Jacob Erholt | Om mig
---

<script>
    var getA = document.getElementsByTagName('A')[1];
    getA.style = 'text-decoration: underline;'
</script>

<section class="center">
    <div class="portrait-container">
        <div class="center">
            <img class="portrait" src="/assets/about/portrait.png" alt="">
        </div>
    </div>
    <div class="about-container">
        <div>
            <h3 class="heading">Jeg hedder Jacob Erholt</h3>
            <div class="body-text">
                <p>Jeg er 19 år, og er i gang med uddannelsen Digital Media. Jeg kan godt lide at lave hjemmesider, da det er spændende at se processen bag koden, jeg synes at det er fedt hvordan at man kan lege med koden og lave sit eget.</p>  
                <p>I min fritid tilbringer jeg mange timer foran computeren, hvor at jeg laver forskellige ting, fra kreative projekter til at spille computerspil med mine venner. Jeg er en meget åben, sjov og udadvendt person.</p>
                <h4 class="intermediate-heading">Uddannelse</h4>
                <div class="education-container">
                    <ul class="education-list center">
                        <li>2021 - Hovedeforløb 1 på RTS som Digital Media</li>
                        <li>2020 - Praktik hos Layback</li>
                        <li>2020 - Grundforløb 2 på RTS som Digital Media</li>
                        <li>2019 - Grundforløb 1 på RTS på Digital Design</li>
                        <li>2019 - 10. klasses afgangseksamen</li>
                    </ul>
                </div>
                <h4 class="intermediate-heading">Kompetencer</h4>
                <div class="body-text skill-container center">
                    <p>Jeg arbejder med HTML, CSS, JS og Nunjucks. Når jeg skal lave grafiske projekter arbejder jeg med Photoshop og Illustrator. Jeg har kendskab til Wordpress og Netlify's CMS.</p>
                </div>
            </div>
        </div>
    </div>
</section>