---
layout: "base.njk"
title: Om mig
---

<section class="center about-section spacious">
    <div class="portrait-container">
        <div class="center">
            <img class="portrait" src="/assets/about/portrait.png" alt="">
        </div>
    </div>
    <h3 class="heading">Jeg hedder Jacob Erholt</h3>
    <div class="body-text">
        <div class="body-text text-container center">
            <p>Jeg er 22 år, og er Junior software engineer hos <a href="https://www.karnovgroup.dk/">Karnov Group Denmark</a>.</p>
        </div>
        <h4 class="intermediate-heading">Uddannelse</h4>
        <div class="education-container">
            <ul class="education-list center">
                <li>2022-nu Junior software engineer hos Karnov Group
                <li>2022 - Hovedeforløb 4 på RTS som Digital Media</li>
                <li>2022 - Hovedeforløb 3 på RTS som Digital Media</li>
                <li>2021 - Hovedeforløb 2 på RTS som Digital Media</li>
                <li>2021 - Hovedeforløb 1 på RTS som Digital Media</li>
                <li>2020 - Praktik hos Layback</li>
                <li>2020 - Grundforløb 2 på RTS som Digital Media</li>
                <li>2019 - Grundforløb 1 på RTS på Digital Design</li>
                <li>2019 - 10. klasses afgangseksamen</li>
            </ul>
        </div>
        <h4 class="intermediate-heading">Kompetencer</h4>
        <div class="body-text text-container center">
            <p>Jeg arbejder med <span class="highlight">HTML</span>, <span class="highlight">CSS</span>, <span class="highlight">JS</span> og <span class="highlight">Nunjucks</span>. Når jeg laver grafiske projekter arbejder jeg med
                <span class="highlight">Photoshop</span>, <span class="highlight">Animate</span> og <span class="highlight">Illustrator</span>. Jeg har kendskab til <span class="highlight">Wordpress</span> og <span class="highlight">Netlify's CMS</span>.</p>
        </div>
    </div>
</section>
