---
layout: "base.njk"
title: Jacob Erholt | Arkiv
---

<script>
    var getA = document.getElementsByTagName('A')[3];
    getA.style = 'text-decoration: underline;'
</script>
    <div class="spacious center">
        <div class="center project-text-container">
            <div class="body-text text-container center">
                <p class="center">Her er et arkiv med alle mine gamle projekter.</p>
                <p class="center padding-top">De nyeste er først</p>

            </div>
        </div>
    </div>
    <div class="flex-group wrap">
        {%- for projekter in collections.archive | reverse -%}
            {% include "projekter-snippet.njk" %}
        {%- endfor -%}
    </div>