---
layout: "base.njk"
title: Jacob Erholt | Portfolio
---

<script>
    var getA = document.getElementsByTagName('A')[0];
    getA.style = 'text-decoration: underline;'
    getA.href = '#'
</script>

<section>
    <div class="video-container">
        <video autoplay loop muted id="video-bg">
            <source src="/assets/front/banner.mp4" type="video/mp4">
        </video>
    </div>
    <div class="front-text-container center large-padding-top">
        <h1 class="heading">Velkommen</h1>
        <p class="center">Dette er mit personlige portfolio, her kan du se og læse om mine projekter.</p>
    </div>
</section>

