---
layout: "base.njk"
title: Portfolio
---

<section class="front-section">
    <div class="video-container">
    <video src="../../assets/front/showreel_phone.mp4" autoplay loop muted class="front-video video-phone"></video>
        <video src="../../assets/front/showreel_tablet.mp4" autoplay loop muted class="front-video video-tablet"></video>
        <video src="../../assets/front/showreel_pc.mp4" autoplay loop muted class="front-video video-pc"></video>
    </div>
</section>
