---
layout: "base.njk"
title: Jacob Erholt | Projekter
---

<script>
    var getA = document.getElementsByTagName('A')[2];
    getA.style = 'text-decoration: underline;'
    getA.href = '#'
</script>

<section>
    <div class="spacious center">
        <div class="center project-text-container">
            <div class="body-text text-container center">
                <p>Her er en samling af de seneste projekter jeg har lavet, man kan klikke på de enkelte projekter og se mere om projektet.</p>
                <p class="center padding-top">De nyeste er først</p>

            </div>
        </div>
    </div>
    <div class="flex-group wrap">
        {%- for projekter in collections.featured | reverse -%}
            {% include "projekter-snippet.njk" %}
        {%- endfor -%}
    </div>

</section>