---
layout: "base.njk"
title: Projekter
---

<script>
    var getA = document.getElementsByTagName('A')[2];
    getA.style = 'text-decoration: underline;'
    getA.href = '#'
</script>

<section>
    <div class="spacious center">
        <div class="center project-text-container">
            <div class="text-container center">
                <p>Her er en samling af mine udvalgte projekter.</p>
            </div>
        </div>
    </div>
    <div class="flex-group wrap large-padding-top">
        {%- for projekter in collections.featured | reverse -%}
            {% include "projekter-snippet.njk" %}
        {%- endfor -%}
    </div>

</section>