
:root{
  
  --clr-primary-300: ;
  --clr-primary-400: ;
  --clr-primary-500: hsl(360, 65%, 55%);
  --clr-primary-600: hsl(360, 50%, 40%);
  --clr-primary-700: hsl(235, 25%, 20%);

  --clr-neutral-100: hsl(0, 0%, 95%);
  --clr-neutral-200: hsl(0, 0%, 80%);
  --clr-neutral-300: hsl(0, 0%, 65%);
  --clr-neutral-400: hsl(0, 0%, 50%);
  --clr-neutral-500: hsl(0, 0%, 40%);
  --clr-neutral-600: hsl(0, 0%, 30%);
  --clr-neutral-700: hsl(0, 0%, 15%);
  --clr-neutral-800: hsl(0, 0%, 0%);
}


/* //////////////////////
  RESET - source: https://piccalil.li/blog/a-modern-css-reset
/////////////////////// */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul:where([role="list"]),
ol:where([role="list"]) {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* //////////////////////
  General
/////////////////////// */



/* //////////////////////
Universal
/////////////////////// */
.right{
  margin-left: auto;
}
.left{
  margin-right: auto;
}

.align-left{
  text-align: left;
}
.align-right{
  text-align: right;
}

.column-left-gap{
  margin-left: .5em;
}

.column-right-gap{
  margin-right: .5em;
}

.col-50{
  flex: 0 0 50%;
  max-width: 50%;
}


.flex-group{
  display: flex;
}
.flex-item{
  padding: 1.5em 0;
}
.center{
  justify-content: center;
  text-align: center;
}

/* //////////////////////
  Header
/////////////////////// */
header{
  background-color: var(--clr-neutral-100);
}
header ul{
  gap: 4em;
  justify-content: center;
}
header li{
  list-style: none;
}
header a{
  font-family: 'Spartan', sans-serif;
  color: var(--clr-primary-700);
  font-size: 2em;
  font-weight: 500;
  transition: .2s;
  text-decoration: none;
}
header a:hover{
  color:var(--clr-primary-500);
}

.header-section{
  padding: 10px;
}


/* //////////////////////
  Footer
/////////////////////// */
footer{
  background-color: var(--clr-primary-700);
  color: var(--clr-neutral-100);
  font-family: 'Spartan', sans-serif;
  font-size: 1.2em;
}
footer i{
  font-size: 1.8em;
}
footer a{
  color: var(--clr-primary-500);
  transition: .2s;
}
footer a:hover{
  color: var(--clr-primary-600);
}
footer h3{
  line-height: 1.8em;
}
.footer-section{
  padding-top: 2em;
  width: 100%;
}
.copyright{
  color: var(--clr-neutral-300);
  font-family: serif;
  padding: 4em 0 2em 0;
}
/* //////////////////////
  Main
/////////////////////// */