
:root{
  
  --clr-primary-300: ;
  --clr-primary-400: ;
  --clr-primary-500: hsl(360, 65%, 55%);
  --clr-primary-600: hsl(360, 50%, 40%);
  --clr-primary-700: hsl(235, 25%, 20%);

  --clr-neutral-100: hsl(0, 0%, 95%);
  --clr-neutral-200: hsl(0, 0%, 90%);
  --clr-neutral-300: hsl(0, 0%, 65%);
  --clr-neutral-400: hsl(0, 0%, 50%);
  --clr-neutral-500: hsl(0, 0%, 40%);
  --clr-neutral-600: hsl(0, 0%, 30%);
  --clr-neutral-700: hsl(0, 0%, 15%);
  --clr-neutral-800: hsl(0, 0%, 0%);
}


/* //////////////////////
  RESET - source: https://piccalil.li/blog/a-modern-css-reset
/////////////////////// */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

li{
  list-style: none;
}


/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul:where([role="list"]),
ol:where([role="list"]) {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* //////////////////////
  General
/////////////////////// */
html{
  scroll-behavior: smooth !important;
}
body{
  background-color: var(--clr-neutral-100);
}

/* //////////////////////
Universal
/////////////////////// */
.right{
  margin-left: auto;
}
.left{
  margin-right: auto;
}

.align-left{
  text-align: left;
}
.align-right{
  text-align: right;
}

.column-left-gap{
  margin-left: .5em;
}

.column-right-gap{
  margin-right: .5em;
}

.highlight{
  color: var(--clr-primary-500);
}

.large-padding-top{
  padding-top: 100px;
}
.padding-top{
  padding-top: 40px;
}
.spacious{
  width: 60%;
}


.flex-item{
  padding: 1.5em 0;
}
.center{
  justify-content: center;
  text-align: center;
  margin: 0 auto;
}

/* Portrait phones */
@media only screen and (min-width: 576px){
  header{
    background-color: var(--clr-neutral-100);
  }
} 
/* Tablets */
@media only screen and (min-width: 768px){
  .col-50{
    position: relative;
    flex: 0 0 50%;
    max-width: 50%;
  }
  
  .flex-group{
    display: flex;
  }
  .wrap{
    flex-wrap: wrap;
  }
} 
/* Laptops */
@media only screen and (min-width: 992px){
  header{
    background-color: var(--clr-neutral-100);
  }
} 
/* Large devices */
@media only screen and (min-width: 1200px){
  header{
    background-color: var(--clr-neutral-100);
  }
}
/* //////////////////////
  Header
/////////////////////// */
header{
  background-color: var(--clr-neutral-200);
  opacity: .96;
  position: sticky;
  top: 0;
  z-index: 999;
  transition: .4s;
}
header ul{
  padding: 0;
  gap: 1em;
  justify-content: center;
}
header li{
  list-style: none;
}
header a{
  font-family: 'Spartan', sans-serif;
  color: var(--clr-primary-700);
  font-size: .9em;
  font-weight: 500;
  transition: .2s;
  text-decoration: none;
}
header a:hover{
  color:var(--clr-primary-500);
}
.navbar{
  display: flex;
}
.header-section{
  padding: 10px;
}

/* Portrait phones */
@media only screen and (min-width: 576px){

} 
/* Tablets */
@media only screen and (min-width: 768px){
  header ul{
    gap: 2em;
  }
  /* header a{
    font-size: 1.4em;
  } */
} 

/* Laptops */
@media only screen and (min-width: 992px){
  header ul{
    gap: 3em;
  }
  header a{
    font-size: 1.6em;
  }
} 
/* Large devices */
@media only screen and (min-width: 1200px){
  header ul{
    gap: 4em;
  }
  /* header a{
    font-size: 2em;
  } */
} 
/* //////////////////////
  Footer
/////////////////////// */
footer{
  background-color: var(--clr-primary-700);
  color: var(--clr-neutral-100);
  font-family: 'Spartan', sans-serif;
  font-size: .8em;
}
footer i{
  font-size: 1.6em;
}
footer a{
  color: var(--clr-primary-500);
  transition: .2s;
}
footer a:hover{
  color: var(--clr-primary-600);
}
.footer-title-container{
  display: flex;
}
footer h3{
  line-height: 1.8em;
}
.footer-section{
  padding-top: 2em;
  width: 100%;
}
.copyright{
  color: var(--clr-neutral-300);
  font-family: 'Spartan', sans-serif;
  padding: 4em 0 2em 0;
}
.footer-focus{
  padding-top: 10px;
  display: inline-block;
}

/* Portrait phones */
@media only screen and (min-width: 576px){
} 
/* Tablets */
@media only screen and (min-width: 768px){
  footer{
    font-size: 1em;
  }
  footer i{
    font-size: 1.8em;
  }
} 
/* Laptops */
@media only screen and (min-width: 992px){
  
} 
/* Large devices */
@media only screen and (min-width: 1200px){
  footer{
    font-size: 1.2em;
  }
  footer i{
    font-size: 1.8em;
  }
}
/* //////////////////////
Main
/////////////////////// */
main{
  min-height: 90vh;
  font-family: 'Spartan', sans-serif;
  color: var(--clr-neutral-800);
}

main p{
  padding: 10px 0;
}
.heading{
  color: var(--clr-primary-500);
  line-height: 2em;
  font-size: 1.6em;
  margin: 0 0 1em 0 ;
}
.intermediate-heading{
  color: var(--clr-primary-500);
  font-size: 1.2em;
  text-align: center;
  padding: 10px 0;
}
.body-text{
  text-align: left;
}

/* ////////////
  Front
//////////// */
#video-bg {
  position: relative;
  width: auto;
  min-width: 100%;
  height: auto;
  background: transparent url(video-bg.jpg) no-repeat;
  background-size: cover;
}
video {
  display: block;
}
.video-container {
  width: 100%;
  max-height: 450px;
  overflow: hidden;
  position: static;
  top: 0;
  right: 0;
  z-index: -100;
}
/* ////////////
  About
//////////// */

main section{
  margin-bottom: 80px !important;
}
.portrait-container{
  padding: 80px;
}
.portrait{
  width: 100%;
  pointer-events: none;
}
.education-container{
  padding: 10px 0;
}
.education-list{
  width: 100%;
  text-align: unset;
}
.education-list li{
  line-height: 2em;
}
.text-container{
  width: 100%;
}
/* Tablets */
@media only screen and (min-width: 768px){
  .portrait{
    width: 100%;
  }
  .education-list{
    width: 70%;
  }
}
/* Laptop */
@media only screen and (min-width: 992px){
  .education-list{
    width: 65%;
  }
  .text-container{
    width: 80%;
  }
}
/* Large device */
@media only screen and (min-width: 1200px){
  .education-list{
    width: 40%;
  }
  .text-container{
    width: 80%;
  }
  .portrait{
    width: 50%;
  }
}
/* ////////////
  Project
//////////// */

.project-text-container{
  padding: 80px 80px 40px 80px; 
}

.projekter-snippet-container{
  position: relative;
  width: 33%;
  display: block;
  margin: 0.166%;
}
.projekter-snippet-overlay{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  background-color: var(--clr-primary-600);
  opacity: 0;
  transition: .3s;
}
.projekter-snippet-overlay:hover{
  opacity: 0.95;
}
.projekter-snippet-text-container{
  position: absolute;
  text-align: center;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: var(--clr-neutral-100);
}
.projekter-snippet-title{font-size: 2.2em;}
.projekter-snippet-text{font-size: 1.2em;}
.projekter-snippet-image{
  display: block;
  height: auto;
  width: 100%;
}
.case-link{display: flex;}
#case-text-wrapper p{
  margin: 0 auto;
  text-align: left;
  padding-top: 40px;
  width: 100%;
}
#case-text-wrapper a{
  padding: 0 1em;
  transition: .4s;
}
#case-text-wrapper a:hover{
  color: var(--clr-primary-500);
}
/* Large device */
@media only screen and (min-width: 1200px){
  #case-text-wrapper p{
    width: 80%;
  }
}
/* ////////////
  Archive
//////////// */



/* ////////////
  404
//////////// */

.missing-container{ 
  position: relative;
  width: 60%;
  margin: 80px auto 80px 18%;
}
.missing-text{
  padding: 40px 0;
}
